<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>墨墨背单词单词上限分享互助</title>

</head>
<body>
<section class="login-form-wrap">
    <h1>墨墨背单词单词上限分享互助</h1>
    <form class="login-form" method="post" action="/doread">
        <label>
            <input type="text" name="url">
        </label>
        <label>
            <input type="password" name="password">
        </label>
        <input type="submit" value="开始签到">
    </form>
</section>
<div style="text-align:center;clear:both">

</div>

</body>

</html>